<div align="center" >
    <h2>Registration Form</h2>
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <table>
            <tr>
              <td>LastName</td>
              <td><input type="text" formControlName="lastname"></td>
              <td> 
                <span *ngIf="submitted && formdata.controls.lastname.errors?.required" style="color:red">Last Nameis required</span>
              </td>
           </tr>
           <tr>
            <td>FirstName</td>
            <td><input type="text" formControlName="firstname"></td>
            <td> 
                <span *ngIf="submitted && formdata.controls.firstname.errors?.required" style="color:red">First Name is required</span>
              </td>
         </tr>
         <tr>
            <td>Password</td>
            <td><input type="password" formControlName="password"></td>
            <td> 
                <span *ngIf="submitted && formdata.controls.password.errors?.required" style="color:red">Password is required</span>
              </td>
         </tr>
         <tr>
            <td>age</td>
            <td><input type="text" formControlName="age"></td>
            <td> 
                <span *ngIf="submitted && formdata.controls.age.errors?.required" style="color:red">age is required</span>
              </td>
         </tr>
         <tr>
             <td>Gender</td>
             <td><input type="radio" formControlName="gender" >Male
                <input type="radio" >Female
             </td>
             <td> 
                <span *ngIf="submitted && formdata.controls.gender.errors?.required" style="color:red">gender is required</span>
              </td>
         </tr>
         <tr>
            <td>EmailId</td>
            <td><input type="text" formControlName="emailid"></td>
            <td> 
                <span *ngIf="submitted && formdata.controls.emailid.errors?.required" style="color:red">emailid is required</span>
              </td>
         </tr>
         <tr>
            <td>ZipCode</td>
            <td><input type="text" formControlName="zipCode"></td>
            <td> 
                <span *ngIf="submitted && formdata.controls.zipCode.errors?.required" style="color:red">Zip Code is required</span>
              </td>
         </tr>
         <tr>
            <td>City</td>
            <td><input type="text" formControlName="city"></td>
            <td> 
                <span *ngIf="submitted && formdata.controls.city.errors?.required" style="color:red">city is required</span>
              </td>
         </tr>
         <tr align="center">
             <td colspan="3"><input type="submit"value="register"></td>
         </tr>
        </table>
    </form>    
</div>

